@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Sriracha&display=swap');

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Sriracha', cursive;
    --font3: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html body {
    font-family: var(--font1);
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;

}

header h1 {
    font-family: var(--font1);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 5vw;

}

header p {
    padding: 50px;

}

header a,
footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;

}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

section {
    font-family: var(--font2);
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3.5vw;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section p {
    padding-bottom: 2em;
}
section.imagem{
    background-color: #000;
    color: #fff;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.555) ;
    background-size: cover;
    background-attachment: fixed;
}
section.imagem p {
    color: #fff;
    padding: 5px;
    display: inline-block;
    background-color:rgba(0, 0, 0, 0.205);
    text-shadow: 1px 1px 0px 2px;
    
    
}

#img1 {
    background-image: url(background001.png);
    background-position:  right center;
    background-size: cover;
}

#img2 {
    background-image: url(background002.png);
    background-position:  center;
    background-size: cover;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}